/* @font-face{
	font-family: ;

} */

/* header */
.wrapper{
	width: 90%;
	margin: 0 auto;

}
.degs{
	transform: rotate(-3deg);
	margin-bottom: 50px;
}
header{
	position: relative;
	z-index: 21;
}
nav{
	background-image: url("../img/header/menubalk.png");
	background-repeat: no-repeat;
	background-position: right;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: end;
	width: 100%;
	height: 162px;
}
nav .links{
	margin-top: 30px;
	margin-right: 7rem;
	color: #fff;
	text-decoration: none;
	font-size: 25px;
	padding: 10px;
}
nav .links:hover{
	color: #21234f;
}
.dropdown{
	background-image: url("../img/header/dropdown.png");
	background-repeat: no-repeat;
	width: 100%;
	height: 350px;
	background-position: center;
	margin-top: 23px;
	display: none;
}
.returnBack:hover{
	margin-top: 380px;
}
.opens-dropdown:hover + .dropdown
{
	display: block;
}
/* main */
main{
	position: relative;
	z-index: 20;
	margin-top: -60px;
	background: #cb6262;
	height: 600px;
}
/* footer */
.gap{
	gap: 100px ;
}
.deg{
	color: #fff;
	transform: rotate(-5deg);
}
.breakpoint{
	display: inline-block;
}
.img{
	display: flex;
	flex-direction: row;
}
/* responsive for mobile */
@media screen and (max-width: 764px) {
	div.breakpoint {
	  display: flex!important;
	  flex-direction: column!important;
	  justify-content: center;
	}
	div.centering{
		display: flex!important;
		justify-content: center!important;
		flex-direction: column!important;
		align-items: center!important;
	}
	div.img{
		margin-top: 0;
		display: flex!important;
		align-items: center!important;
		justify-content: center!important;
	}
  }
  /* goes to column when to close */
  @media screen and (max-width: 1100px) {
	div.gapping {
	  display: flex!important;
	  flex-direction: column!important;
	}
  }
  @media screen and ( min-width: 764px) and (max-width: 1148px ) {
	  div.img{
		display: flex!important;
		flex-direction: column!important;
	  }
  }
body{
	width: auto;
	  overflow-x: hidden;
}

.none{
	margin-bottom: 110px;
}

.margintop{
	margin-top: 20px;
}
.margintop p{
	font-size: 25px;
	color: #62c2cb;
}
.gapping h3 {
	color: #ffba00;
}
footer{
	background: #21234f;
}
.img{
	margin-top: 122px;
	width: 100%;
}
.imgs{
	width: 50px;
	max-height: 50px;
}
.margins{
	margin-top: 110px;
}
.margins p {
	margin-bottom: 0;
}
.whole{
	padding-bottom: 40px;
}
.right{
	margin-right: 10px;
}