@font-face {
    font-family: Jaldi;
    src: url(../font/Jaldi-Bold.ttf);
}
@font-face {
    font-family: khand;
    src: url(../font/khand-medium.ttf);
}

html,body{
	overflow-x: hidden;
}
/* header responsive side */
@media screen and (max-width: 1400px) {
	nav.firstBackground{
		display: none;
	}
	div.toggle{
		display: block;
	}
	div.wrapper{
		width: 40%;
	}
  }
  .mobile-container {

	margin: auto;
	background-color: #555;

	color: white;
	border-radius: 10px;
  }
  
  .topnav {
	overflow: hidden;
	background-color: #333;
	position: relative;
  }
  
  .topnav #myLinks {
	display: none;
  }
  
  .topnav a {
	color: white;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	display: block;
  }
  .hover a:hover{
	  background-color: #edf8fa;
  }
  .topnav a.icon {
	display: block;
	position: absolute;
	right: 40px;
	top: -15px;
  }
  .topnav a.icon img {
	width: 60px;
	height: auto;
  }
  .topnav a:hover {
	color: black;
  }
  
  .active {
	background-color: #62c2cb;
	color: white;
  }
  /* header */
.colum{
	padding: 20px;
	margin-left: 50px;
}
.colum a{
	margin-top: 15px;
	font-size: 30px;
	text-decoration: none;
	color: #fff;
	font-family: khand;
}
.column a:hover{
	color: #62c2cb;
}
.toggle{
	display: none;
}

.wrapper{
	width: 90%;
	margin: 0 auto;

}
.degs{
	font-size: 50px;
	transform: rotate(-3deg);
	margin-bottom: 50px;
	font-family: Jaldi;
	color: #21234f;
}
header{
	position: relative;
	z-index: 21;
}
nav{
	background-image: url("../img/header/menubalk.png");
	background-repeat: no-repeat;
	background-position: right;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: end;
	width: 100%;
	height: 162px;
}
nav .links{
	margin-top: 20px;
	margin-right: 8.7rem;
	color: #fff;
	text-decoration: none;
	font-size: 26px;
	padding: 10px;
	font-family: khand;
}
nav .links:hover{
	color: #21234f;
}
.dropdown{
	background-image: url("../img/header/dropdown.png");
	background-repeat: no-repeat;
	width: 100%;
	height: 350px;
	background-position: center;
	display: none;
	padding-top: 20px;
}
.test:hover {
	margin-top: 350px;
}
.opens-dropdown:hover + .dropdown,.dropdown:hover,.test:hover
{
	display: block;
	color: #21234f;
	top: 30px;
}
.dropdown:hover+ .opens-dropdown,.opens-dropdown:hover 
{
	display: block;
	color: #21234f;
	top: 30px;
}
.hover:hover{
	color: #94d3da;
}
/* main */
main{
	position: relative;
	z-index: 20;
	margin-top: -60px;
}
.row-one{
	background: #edf8fa;
}
.wrapping{
	padding-top: 150px;
	width: 65%;
	margin: 0 auto;
	margin-bottom: -83px;
}
.jongen{
	background: url("../img/main/jongen.png");
	background-repeat: no-repeat;
	width: 500px;
	height: 600px;
	display: flex;
    align-items: flex-end!important;
}
.meisje{
	background: url("../img/main/meisje.png");
	background-repeat: no-repeat;
	width: 500px;
	height: 600px;
	display: flex;
    align-items: flex-end!important;
}
.meisje h1{
	padding-bottom: 60px;
	padding-left: 50px;
	font-size: 40px;
	color: #fff;
	font-family: Jaldi;
}
.jongen h1{
	padding-bottom: 60px;
	padding-left: 60px;
	font-size: 40px;
	color: #fff;
	font-family: Jaldi;
}
/* responsive jongen meisje 1372 */
@media screen and (max-width: 1652px) {
	div.wrapping{
		width: 75%;
	}
  }
  @media screen and (max-width: 1372px) {
	div.wrapping{
		width: 90%;
	}
  }
  @media screen and (max-width: 1100px) {
	div.wrapping{
		display: flex!important;
		align-items: center!important;
		flex-direction: column!important;
	}
  }
.balk{
	background: #dcf1f4;
	width: 100%;
	height: 200px;
}
.balk h2{
	color: #21234f;
	border-bottom: 1px solid #21234f;
}
.balkTwo{
	width: 100%;
	height: 150px;
}
.balkTwo h1{
	color: #94d3da;
	font-family: khand;
	font-size: 40px;
	font-weight: bold;
}
.yellowInfo{
	margin-left: 0px;
	padding-left: 0px;
	background: url("../img/main/back-aanmeldenvlak.png");
	background-repeat: no-repeat;
	background-size: 700px;
	width: 100%;
	height: 621px;
}
.rowTwo{
	width: 80%;
	margin: 0 auto;
}
.loremText{
	width: 70%;
}
.below{
	background: url("../img/main/button-meerinfo.png");
	background-repeat: no-repeat;
	width: 100%;
	height: 200px;
	margin-top: 88px;
    margin-left: 209px;
}
.top img{
	width: 24px;
	height: 24px;
	margin-bottom: 36px;
	margin-right: 10px;
}
.top{
	margin-left: 96px;
	margin-top: 85px;
}
.rocket span{
	font-size: 21px;
	font-weight: 700;
	text-decoration: underline 1px;
	text-underline-offset: 6px;
	color: #21234f;
	padding-left: 10px;
	padding-right: 10px;
}
.rocket p{
	font-size: 21px;
}
@media screen and (max-width: 1504px) {
	div.rowTwo {
		width: 94%;
	}
  }
  @media screen and (max-width: 1279px) {
	div.rowTwo {
		display: flex!important;
		flex-direction: column!important;
		align-items: center;
	}
	.yellowInfo{
		width: 69%;
		min-width: 700px;
		margin: 0 auto;
	}
  }
  .triangle{
	  background: url("../img/main/back-bovenfooter.png");
	  background-repeat: no-repeat;
	  width: 100%;
	  height: 163px;
	  margin-top: -80px;
  }
/* footer */
.gap{
	gap: 100px ;
}
.deg{
	color: #fff;
	transform: rotate(-5deg);
}
.breakpoint{
	display: inline-block;
}
.img{
	display: flex;
	flex-direction: row;
}
/* responsive for mobile */
@media screen and (max-width: 764px) {
	div.breakpoint {
	  display: flex!important;
	  flex-direction: column!important;
	  justify-content: center;
	}
	div.centering{
		display: flex!important;
		justify-content: center!important;
		flex-direction: column!important;
		align-items: center!important;
	}
	div.img{
		margin-top: 0;
		display: flex!important;
		align-items: center!important;
		justify-content: center!important;
	}
  }
  /* goes to column when to close */
  @media screen and (max-width: 1100px) {
	div.gapping {
	  display: flex!important;
	  flex-direction: column!important;
	}
  }
  @media screen and ( min-width: 764px) and (max-width: 1148px ) {
	  div.img{
		display: flex!important;
		flex-direction: column!important;
	  }
  }
body{
	width: auto;
	  overflow-x: hidden;
}

.none{
	margin-bottom: 110px;
}

.margintop{
	margin-top: 20px;
}
.margintop p{
	font-size: 25px;
	color: #62c2cb;
}
.gapping h3 {
	color: #ffba00;
}
footer{
	background: #21234f;
}
.img{
	margin-top: 122px;
	width: 100%;
}
.imgs{
	width: 50px;
	max-height: 50px;
}
.margins{
	margin-top: 110px;
}
.margins p {
	margin-bottom: 0;
}
.whole{
	padding-bottom: 40px;
}
.right{
	margin-right: 10px;
}